/* DOM el styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--sans);
  color: var(--text);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--title);
  font-family: var(--serif);
  text-align: center;
}

p {
  margin: 0;
  line-height: 1.5;
  
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}
