/* Color Variables */
:root {
  --white: #ffffff;
  --green: #27694d;
  --yellow: #daa520;
  --red: #ef4444;
  --pink: #d1478c81;
  --brown: #383129;
  --black: #2a2622;

  --title: #2b2622;
  --text: #7c736a;
  --border: #e7e2da;

  --background: #f7f4ef;
  --card: #fcfaf7;
  --secondary: #eeebe4;
  --shadow: #c4b8a8;
  --favorite: #eaf0ed;

  /* Typography */
  --serif: "Playfair Display", serif;
  --sans: "Source Sans 3", sans-serif;

  /* Spacing */
  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 1.5rem;
  --gap-lg: 2rem;

  /* Border Radius */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
}
.vivid-mode {
  --white: #ffffff;
  --green: #00f5d4;   
  --yellow: #ffd166;  
  --red: #ff006e;     
  --pink: #d1478c81;
  --brown: #2b0f54;   
  --black: #0b0014;   

  --title: #141354;
  --text: #4b3b6b;
  --border: #c7b9ff;

  --background: #fdf7ff;
  --card: #ffffff;
  --secondary: #f1e6ff;
  --shadow: #a88bff;
  --favorite: #e6fffa;

}
